body{
   background-color: rgb(215, 156, 60);
   color:aliceblue;
   font-family: Georgia, 'Times New Roman', Times, serif;
   justify-content: center;
}

#top-page-header{
    position: relative;
    text-align: center;
}

#city-skyline {
    width:1200px;
    height:400px;
}

#drink-city-h1{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:100px;
}

.drink-imgs{
    width: 15rem;
    height: 15rem;
    margin: auto;
}

.card {
    text-align: center;
    vertical-align: center;
    border: rgb(255, 255, 255) solid 5px;
    width: 15rem;
    height: 15rem;
    display: inline-grid;
    margin: 5px;
    padding: 3px;
  }

  .card:hover {
    background-color:rgb(38, 38, 38);
  }

  .drink-imgs:hover {
    opacity: 0.5;
  }

  #drink-menu {
    margin: auto;
    padding: 3rem;
    justify-content: center;
  }

  .container{
    text-align: center;
    justify-content: center;
  }

  .button {
    background-color:rgb(38, 38, 38);
    border:none; 
    border-radius:5px; 
    padding:15px;
    min-height: 3rem; 
    min-width: 15rem;
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
  }

  input[type=text]{
    width:25rem;
    height:2rem;
    background-color: aliceblue;
    color: rgb(38, 38, 38);
  }

  input[type=submit]{
    width:10rem;
    height:2rem;
    color: aliceblue;
    background-color: rgb(38, 38, 38);
    font-size: large;
  }  

  label {
    color:rgb(38, 38, 38);
    font-weight: bold;
  }

  input {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    border: 0;
  }

  form h4{
    margin-bottom: 5px;
    margin-top: 10px;
  }

  form {
    color:rgb(38, 38, 38);
  }

