body{
   background-color: #d79c3c;
}

#top-page-header{
    position: relative;
    text-align: center;
}

#city-skyline {
    width:1200px;
    height:400px;
}

#drink-city-h1{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:100px;
}

.drink-imgs{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
